<div class="card">
  <div class="card-header">
    Select Reps and Sets for each exercise
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col" style="display: inline-block;">
        <h2 class="card-title">Push-Up:</h2>
      </div>
      <div class="col">
        <div class='w3-container' style="display: flex;width: 250px;">
          <label class="w3-text-indigo"><b>Total reps</b></label>
          <input class="w3-input w3-border" type="number" placeholder="Enter" name='reps_count'>
        </div>
      </div>
      <div class="col">
        <div class='w3-container' style="display: flex;width: 250px;">
          <label class="w3-text-indigo"><b>Total sets</b></label>
          <input class="w3-input w3-border" type="number" placeholder="Enter" name='sets_count'>
        </div>
      </div>
    </div>
    
  </div>
</div>