<div style="margin-top:2px;font-size:100%;width:80%;" class="col-md-8">
  <div class="card w3-black">
   <div class="card-header" data-background-color="green">
      <i style="float:right;cursor:pointer;color:black;font-size:18px" class="fa fa-history" aria-hidden="true"></i>
      <fieldset>       
        <legend class="contextHeading">Exercises : </legend>
        <button class="bk-delete ui-button ui-widget ui-corner-all" style='margin-bottom:7.5px;' (click)="addExercise()"><i class="fa fa-plus" style="font-size:14px;color:brown;float:right"></i></button>
      </fieldset>
   </div>
   <div class="card-footer w3-black w3-padding" style="border-radius:10%;text-align:center">
      <div class="stats">
        <button class="btn btn-sm align-middle btn-outline-primary waves-effect waves-light" type="button" (click)="openDialog()" >Start</button>
      </div>
   </div>
  </div>
</div>
